<html>
    <head>

        <link rel="stylesheet" href="style.css" type="text/css" />

        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript" src="handlebars.js"></script>
        <script type="text/javascript" src="ember.js"></script>
        <script type="text/javascript" src="common.js"></script>

        <title>Info</title>

        <style>
            body { margin: 0; }
            #info.window { width: 184px; }
            #info_area { overflow: hidden; padding: 0 2px 2px; }
            #info_area img { margin: 5px; }
        </style>
    </head>
    <body>

        <div id="info" class="window" data-handle="Info">

            <script data-template-name="info" type="text/x-handlebars">
                {{#each detail in App.info.details}}
                    <div><span>{{detail.name}}: {{detail.value}}</span></div>
                {{/each}}
            </script>

            <div id="info_area"></div>

        </div>

        <script type="text/javascript">

            App = Ember.Application.create();

            $(document).bind('creaWindowLoaded', function() {
                App.Data = Ember.Object.extend({
                    name: "",
                    value: "",
                });
                App.info = Ember.Object.create({
                    details: null,
                    init: function() {
                        this.details = Ember.ArrayController.create({content: []});
                    },
                });

                App.InfoView = Ember.View.extend({
                    templateName: 'info'
                });

                var view = App.InfoView.create();

                view.appendTo("#info_area");
                Crea.invoke('populate');
            });

            Crea.resize(700,700); // TODO: not dynamic based on item count
        </script>

    </body>
</html>