
body { margin: 0; }

.window { position: relative; }

.serif { font-family: 'Bitter'; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); color: #fff; font-weight: normal; }
.sans-serif { font-family: 'Ubuntu'; color: #fff; font-weight: normal; }
.group:after { content: ""; display: table; clear: both; }
.small { font-size: 12px; margin: 0; position: relative; top: -2px; color: #bbb; }

.window-container .handle { padding: 0 25px; position: absolute; top: 10px; height: 18px; overflow: hidden;
    background: url(images/tab-bg.png) no-repeat; min-width: 85px; left: 20px; }

    .window-container

    .handle h2.tab-title { margin: 6px 0 0; font-size: 9px; font-weight: bold; letter-spacing: 0.2em; text-transform: uppercase;
        color: #999; float: left; font-family: sans-serif; }
    .handle .close_handle { width: 12px; height: 12px; margin: 5px 0 0 6px; float: right; background: url(asset://crea/content/ui/images/ui-close.png); }
        .close_handle:hover { background-position: 0 -12px; }

.window-container { padding: 23px 0 1px; }
    .window-container { -webkit-user-select: none; }
    .window-framework { margin: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); border-radius: 10px; }

        .window-framework .top-left { width: 12px; height: 12px; background-image: url(asset://crea/content/ui/images/window-top-left.png); }
        .window-framework .top { height: 12px; background-image: url(asset://crea/content/ui/images/window-top.png); background-size: 100% 12px; }
        .window-framework .top-right { width: 12px; height: 12px; background-image: url(asset://crea/content/ui/images/window-top-right.png); }

        .window-framework .middle-left { width: 12px; background-image: url(asset://crea/content/ui/images/window-middle-left.png); background-size: 12px 100%; }
        .window-framework .middle { background-image: url(asset://crea/content/ui/images/window-middle.png); background-size: 150% 100%; }
        .window-framework .middle-right { width: 12px; background-image: url(asset://crea/content/ui/images/window-middle-right.png); background-size: 12px 100%; }

        .window-framework .bottom-left { width: 12px; height: 12px; background-image: url(asset://crea/content/ui/images/window-bottom-left.png); }
        .window-framework .bottom { height: 12px; background-image: url(asset://crea/content/ui/images/window-bottom.png); background-size: 100% 12px; }
        .window-framework .bottom-right { width: 12px; height: 12px; background-image: url(asset://crea/content/ui/images/window-bottom-right.png); }

        .window-framework .header-top .top-left { background-image: url(asset://crea/content/ui/images/window-header-top-left.png); }
        .window-framework .header-top .top { background-image: url(asset://crea/content/ui/images/window-header-top.png); }
        .window-framework .header-top .top-right { background-image: url(asset://crea/content/ui/images/window-header-top-right.png); }

        .window-framework .header-middle .middle-left { background-image: url(asset://crea/content/ui/images/window-header-middle-left.png); }
        .window-framework .header-middle .middle { background-image: url(asset://crea/content/ui/images/window-header-middle.png); }
        .window-framework .header-middle .middle-right { background-image: url(asset://crea/content/ui/images/window-header-middle-right.png); }

        .window-framework .header-bottom .bottom-left { height: 3px; background-image: url(asset://crea/content/ui/images/window-header-bottom-left.png); }
        .window-framework .header-bottom .bottom { height: 3px; background-image: url(asset://crea/content/ui/images/window-header-bottom.png); background-size: 100% 3px; }
        .window-framework .header-bottom .bottom-right { height: 3px; background-image: url(asset://crea/content/ui/images/window-header-bottom-right.png); }

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { background-color: rgba(0,0,0,0.2); box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.5);
    border-radius: 5px; overflow: hidden; }
::-webkit-scrollbar-thumb { border-radius: 5px; box-shadow: 0 0 4px 0 rgba(0,0,0,0.8);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.25, rgba(140, 140, 140, 1)),
        color-stop(1, rgba(180, 180, 180, 1))
    ); }


/* Item Slots */

.itemslot { position: relative; width: 34px; height: 34px; margin: 2px 2px 0 0; float: left;
    background-image: url("images/ui-item-bg.png"); background-size: 100% 100%; border-radius: 3px;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.3), 0 0 2px 1px rgba(255,255,255,0.1); -webkit-user-select: none; }
.itemslot img { margin: 5px; }
.itemslot .quantity { color: #fff; position: absolute; bottom: -3px; right: 1px; font-weight: bold; font-size: 11px;
    text-shadow: -1px 0 #222, 0 1px #222, 1px 0 #222, 0 -1px #222; letter-spacing: -0.1em; }

/* Cooldown Spinner */

.item-spinner.spinner-container { border-radius: 3px; width: 34px; height: 34px; }
.item-spinner .spinner { width: 68px; height: 68px; }

.effect-spinner.spinner-container { border-radius: 3px; width: 24px; height: 24px; }
.effect-spinner .spinner {  width: 48px; height: 48px; }

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.spinner {
  margin: 0 auto;
  position: relative;
  top: -50%;
  left: -50%;
  border-radius: 3px;
}

.spinner span em {
  background: rgba(0,0,0,0.3);
  -webkit-animation-duration: 1s;
}

/* No need to edit below this line */


@-webkit-keyframes rotate-lt {
  0% {    -webkit-transform: rotate(180deg); }
  50% {   -webkit-transform: rotate(360deg); }
  100% {   -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes rotate-rt {
  0% {    -webkit-transform: rotate(180deg); }
  50% {   -webkit-transform: rotate(180deg); }
  100% {   -webkit-transform: rotate(360deg); }
}

.spinner {
  border-radius: 100%;
  position: relative;
}

.spinner span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.spinner span:first-child {
  left: 0;
}

.spinner span:last-child {
  left: 50%;
}

.spinner span em {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.spinner span:first-child em {
  left: 100%;
  -webkit-animation-name: rotate-rt;
  -webkit-transform-origin: 0 50%;
}

.spinner span:last-child em {
  left: -100%;
  -webkit-animation-name: rotate-lt;
  -webkit-transform-origin: 100% 50%;
 }
