<html>
    <head>

        <link rel="stylesheet" href="style.css" type="text/css" />

        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript" src="handlebars.js"></script>
        <script type="text/javascript" src="ember.js"></script>
        <script type="text/javascript" src="common.js"></script>

        <title>Info</title>

        <style>
            body { margin: 0; }
            #info.window { width: 184px; }
            #info_area { overflow: hidden; padding: 0 2px 2px; }
            #info_area img { margin: 5px; }
        </style>
    </head>
    <body>

        <div id="info" class="window" data-handle="Info">

            <script data-template-name="info" type="text/x-handlebars">
                <div><span>unix: {{App.info.unix}}<span></div>
                <div><span>emvecx: {{App.info.emvecx}}<span></div>
                <div><span>emvecy: {{App.info.emvecy}}<span></div>
                <div><span>systemx: {{App.info.systemx}}<span></div>
                <div><span>systemy: {{App.info.systemy}}<span></div>
                <div><span>systemvecx: {{App.info.systemvecx}}<span></div>
                <div><span>systemvecy: {{App.info.systemvecy}}<span></div>
                <div><span>currentsystem: {{App.info.currentsystem}}<span></div>
                <div><span>currentplanet: {{App.info.currentplanet}}<span></div>
                <div><span>name: {{App.info.name}}<span></div>
                <div><span>peer: {{App.info.peer}}<span></div>
                <div><span>teamid: {{App.info.teamid}}<span></div>
            </script>

            <div id="info_area"></div>

        </div>

        <script type="text/javascript">

            App = Ember.Application.create();

            $(document).bind('creaWindowLoaded', function() {
                App.info = Ember.Object.create({
                    unix: "",
                    emvecx: "",
                    emvecy: "",
                    systemx: "",
                    systemy: "",
                    systemvecx: "",
                    systemvecy: "",
                    currentsystem: "",
                    currentplanet: "",
                    name: "",
                    peer: "",
                    teamid: "",
                });

                App.InfoView = Ember.View.extend({
                    templateName: 'info'
                });

                var view = App.InfoView.create();

                view.appendTo("#info_area");
                Crea.invoke('populate');
            });

            Crea.resize(700,700); // TODO: not dynamic based on item count
        </script>

    </body>
</html>